/* Navigation Bar */

.btn-outline-light:hover {
    background-color: rgb(182, 182, 245);
}

/* Jumbotron */

.jumbotron {
    background-color: rgb(199, 199, 199);
}

.my-4 {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.616), rgba(0, 0, 0, 0));
}
