/* Navigation Bar */

.navbar-light .navbar-brand {
    font-family: 'Indie Flower', cursive;
    font-size: 1.625rem;
    font-weight: 700;
    letter-spacing: 2px;
}

.nav-item {
    margin: 0 1rem;
}

.nav-item .nav-link {
    text-transform: uppercase;
}